html {
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    /* width: 1200px; */
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

main {
    position: relative;
    width: 1200px;
    max-width: 100%;
    /* margin-top: 88px; */
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    /* overflow: hidden; */
    /* background-color: #fff; */
    /* box-shadow: 0 30px 30px rgba(51, 51, 51, 0.2); */
}

p {
    font-size: 0.9rem;
    line-height: 1.8;
}

.feature-content p,
.feature-card p,
.content-info p,
.select-card p,
.select-content p,
.experience-info p,
.experience-text__info p,
.title-info,
.intro-text {
    text-align:justify
}

h3 {
    font-size: 1.55rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #090e56;
}

/* .main-small {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
} */

/* button */
.button-active {
    text-decoration: none;
    padding: 6px 10px;
    background-color: #f04e35;
    color: white;
    border-radius: 4px;
}

.button-active:hover {
    background-color: #c73923;
}

.button-outline {
    border-color: transparent;
    padding: 6px 10px;
    color: #1f7aff;
    font-weight: 700;
    text-decoration: none;
    border: 3px solid;
    border-radius: 4px;
}

.button-outline:hover {
    color: #482b6e;
}

/* col */
.column-2 {
    width: 50%;
}

.column-3 {
    width: 33.333%;
}

.column-5 {
    width: 20%;
}

/* card */
.card-active {
    background: linear-gradient(to right, #472c73, #4e54ce);
    color: #fff;
}

.card {
    border-radius: 4px;
    box-shadow: 0 4px 12px 4px rgba(121, 121, 121, 0.15), 2px 2px 5px 0 rgba(198, 198, 198, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    letter-spacing: -0.7px;
}

.card:hover {
    transform: scale(1.08);
}
