/* PC */
@media (mix-width: 64em) {

}
/* tablet & mobile*/
@media (max-width: 63.9375em) {
    .header-content {
        display: none;
    }
    .header-mobile__button {
        position: relative;
        display: block;
    }
    .header__mobile-content {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: #fff;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform linear 0.2s, opacity linear 0.2s;
    }
    .header__mobile-item {
        margin-top: 20px;
        list-style: none;
    }
    .header__mobile-close {
        font-size: 1.4rem;
        color: #666;
        position: absolute;
        top: 0.7rem;
        right: 1rem;
    }
    .header-mobile__button:hover {
        background-color: #ccc;
    }
    
    .header__mobile-menu {
        padding-left: 1.5rem;
    }
    .header__mobile-logo {
        display: block;
    }
    .header__mobile-auth {
        display: block;
        padding-left: 1.5rem;
    }
    .header__mobile-register {
        display: block;
        margin-bottom: 24px;
    }

    .mobie__input:checked ~ .header__overlay {
        display: block;
    }

    .mobie__input:checked ~ .header__mobile-content {
        transform: translateX(0);
        opacity: 1;
    }

    .background {
        display: none;
    }
    .experience .container {
        padding-bottom: 8px;
    }
    .experience-area {
        display: block;
    }
    .experience-card {
        width: 100%;
        margin-bottom: 60px;
    }
    .experience-text__name {
        text-align: center;
    }
}


/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    html {
        font-size: 120%;
    }
    .container {
        padding: 0 24px;
    }
    .feature-content,
    .content-info,
    .select-content,
    .experience-info,
    .title-info {
        width: 75%;
    }

    /* intro */
    .intro .container {
        padding-bottom: 80px;
    }
    .intro-list {
        width: 100%;
    }
    .intro-text {
        width: 75%;
    }
    .intro-button {
        text-align: center;
    }
    .feature-content p,
    .select-content p {
        margin-bottom: 0;
    }
    /* content */
    .content-card {
        margin: 24px 0;
    }
    .content-card {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .content-card img {
        width: 50%;
    }
    
    .content-card__info {
        display: flex;
        justify-content: space-between;
    }

    .content-card_text {
        width: 50%;
        text-align: center;
    }

    .content-area {
        display: block;
    }
    
    /* partner */
    .partner-container img {
        max-height: 36px;
    }
    .background-two {
        position: absolute;
        top: 40px;
        left: -300px;
        transform: rotate(75deg);
    }
    .background-two__img {
        transform: scale(0.45);
    }
    .feature-info {
        width: 50%;
    }
    .feature-card {
        margin: 32px 16px;
    }
    .select-info {
        width: 50%;
    }
    .select-card {
        margin: 32px 16px;
    }
    .experience-card__img {
        position: relative;
        width: 12%;
    }
    .title-info p {
        margin-bottom: 8px;
    }
    .news-list {
        gap: 0 24px;
    }
    .news-list__info {
        width: 100%;
    }
    .news-item {
        margin: 12px 0;
    }
    .news-item__text {
        font-size: 0.9rem;
    }
    .footer-container {
        padding: 42px;
    }
    .footer-info__item p {
        font-size: 1rem;
    }
}

/* mobile */
@media (max-width: 46.1875em) {
    html {
        font-size: 130%;
    }
    .container {
        padding: 0 16px;
    }
    .header {
        padding: 16px 0;
    }

    .intro-list,
    .intro-text,
    .feature-content,
    .content-info,
    .select-content,
    .experience-info,
    .title-info {
        width: 100%;
    }
    .feature-content {
        width: 100%;
    }
    .intro .container {
        padding-bottom: 12px;
    }
    .intro-content h1 {
        font-size: 1.8rem;
        line-height: 1.5;
        text-align: center;
    }
    /* .intro-text {
       text-align: center;
    } */
    .intro-list {
        width: 100%;
        display: block;
    }
    .intro-list__text {
        align-items: flex-start;
    }
    .intro-button {
        display: inline-block;
        padding: 16px 36px;
        margin: 16px 0;
        transform: translateX(50%);
    }
    .content-area {
        display: block;
    }
    .feature-item,
    .select-item {
        display: block;
    }
    .feature-info,
    .select-info {
        width: 100%;
    }
    .feature-card,
    .select-card {
        margin: 36px 0;
        height: 100%;
    }
    .feature-info__top,
    .select-info__top {
        padding: 0;
    }
    .content-card {
        margin: 36px 0;
        height: 100%;
        width: 100%;
    }
    .content-card_text {
        text-align: center;
    }
    .experience-card__img {
        position: relative;
        width: 20%;
    }
    .partner-container img {
        max-height: 20px;
    }
    .news-list {
        display: block;
    }
    .news-list__info {
        width: 100%;
    }
    .news-item {
        margin: 24px 0px;
    }
    .news-item__text {
        margin-top: -65px;
        margin-left: 32px;
    }
    .news .container {
        padding-bottom: 0;
    }
    .partner-container {
        flex-wrap: wrap;
    }
    .partner-container img {
        max-height: 35px;
        margin: 8px;
        margin-top: 24px;
    }
    .footer-containe__info {
        display: block;
    }
    .footer-icon {
        width: 100%;
    }
    .footer-info__list {
        display: block;
    }
    .footer-info {
        width: 100%;
    }
    .footer-info__item {
        display: block;
    }
    .footer-info__item p {
        font-size: 1rem;
    }
    .footer-container {
        padding: 16px 0;
    }
    .footer-list {
        padding-top: 0;
    }
    .footer-icon {
        padding-bottom: 52px;
    }

}