.wrapper {
    position: relative;
    overflow: hidden;
}

/* header */
.header {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* background-color: #fff; */
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 16px 0 16px 0;
    /* box-shadow: 0 4px 8px 4px rgba(121, 121, 121, 0.1), 2px 2px 5px 0 rgba(198, 198, 198, 0.15); */
}
.header .container {
    position: relative;
}
.header-container {
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 54px;
}

.header-logo {
    max-width: 164px;
}

.header-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 24px;
    font-weight: 500;
}
.header-link:hover {
    color: rgb(240, 78, 53);
}
.header-link {
    color: #000;
    font-size: 0.91rem;
}
.header-register {
    color: #fff;
    text-shadow: 2px 2px 2px #333;
}
.header-register,
.header-lognin {
    font-size: 0.75rem;
    /* color: #333; */
}
.header-auth {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.header-mobile__button {
    display: none;
    float: right;
    padding: 0 8px;
    line-height: 52px;
}

.header-menu__icon {
    color: #333;
    font-size: 25px;
    line-height: 46px;
}
.header__mobile-logo {
    display: none;
}
.header__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation:  fadeIn linear 0.2s;
}
.header__mobile-content {
    display: none;
}
.navbar-collapse {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* intro */
.intro {
    position: relative;
}
.intro .container {
    padding-bottom: 120px;
}
.intro-content {
    padding-bottom: 24px;
}
.intro-content h1 {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #0353ce;
    font-size: 2.1rem;
}
.intro-text {
    font-size: 1.4rem;
    width: 45%;
    line-height: 1.3;
}
.intro-link:hover {
    color: rgb(240, 78, 53);
}

.intro-list {
    width: 75%;
    display: flex;

}

.intro-list__text {
    display: flex;
    gap: 0 76px;
    padding: 4px 20px;
    box-shadow: 0 4px 8px 0 rgba(149, 149, 149, 0.15), 0 2px 5px 0 rgba(179, 179, 179, 0.15);
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.intro-item h3 {
    letter-spacing: -0.5px;
    margin: 4px 0;  
}

.intro-item p {
    font-size: 0.75rem;
    letter-spacing: -0.5px;
    margin: 4px 0;  
}

/* feature */
.feature .container {
    padding-bottom: 40px;
}

.feature-content {
    width: 55%;
    letter-spacing: -0.3px;
}

.feature-content h3 {
    margin-bottom: 4px;
}

.feature-content p {
    margin-top: 12px;
    margin-bottom: 48px;
}

.feature-item {
    display: flex;
    justify-content: flex-end;
}

.feature-info__top {
   padding-top: 40px;
}

.feature-card {
    margin-left: 28px;
    margin-bottom: 32px;
    padding: 36px;
    height: 292px;
}

.feature-card img {
    width: 64px;
}

.feature-card__text h4 {
    line-height: 1.5;
    margin-top: 8px;
}

.feature-card__button {
    padding-bottom: 8px;
}

/* content */
.content .container {
    padding-bottom: 40px;
}

.content-info {
    width: 55%;
    letter-spacing: -0.3px;
}

.content-info h3 {
    margin-bottom: 4px;
}

.content-info p {
    margin-top: 12px;
    margin-bottom: 32px;
}

.content-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 28px;
}

.content-card_active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-card {
    height: 100%;
}

.content-card_info {
    padding: 24px;
}

.content-card_text {
    padding: 24px;
    letter-spacing: 0px;
}
.content-card_button {
    padding-top: 20px;
}

.content-card_text h4 {
    margin-top: 4px;
}

.content-card_text p {
    line-height: 1;
}

.content-card img {
    width: 100%;
}

/* select */
.select .container {
    padding-bottom: 40px;
}

.select-content {
    width: 55%;
    letter-spacing: -0.45px;
}

.select-content h3 {
    margin-bottom: 4px;
}

.select-content p {
    margin-top: 12px;
    margin-bottom: 48px;
}

.select-item {
    display: flex;
    justify-content: flex-start;
}

.select-info__top {
   padding-top: 40px;
}

.select-card {
    padding: 36px;
    margin-right: 28px;
    margin-bottom: 32px;
    height: 260px;
}

.select-card img {
    width: 64px;
}

.select-card__text h4 {
    line-height: 1.5;
    margin-top: 8px;
}

.select-card__button {
    padding-bottom: 8px;
}

/* experience */
.experience .container {
    padding-bottom: 40px;
}

.experience-info {
    width: 55%;
    padding-bottom: 48px;
    letter-spacing: -0.5px;
}

.experience-info h3 {
    margin-bottom: 4px;
}

.experience-info p {
    margin-top: 12px;
    margin-bottom: 32px;
}

.experience-area {
    display: flex;
    gap: 0 28px;
}

/* .experience-card {
    max-width: 350px;
} */

.experience-text {
    position: relative;
    padding: 24px;
}

.experience-card:nth-child(1) {
    background: linear-gradient(to right, #928bfd, #2a66c8);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    letter-spacing: -0.7px;
    color: #fff;
    box-shadow: 0 4px 12px 4px rgba(121, 121, 121, 0.15), 2px 2px 5px 0 rgba(198, 198, 198, 0.15);
}

.experience-card:nth-child(1):hover {
    transform: scale(1.08);
}

.experience-text__name h4 {
    color: #2a2e6d;
}

.experience-card__img {
    /* position: absolute; */
    width: 22%;
    margin-top: -70px;
    border-radius: 50%;
    background-position: center;
    border: 4px solid #fff;
    box-shadow: 0 4px 12px 4px rgba(121, 121, 121, 0.15), 2px 2px 5px 0 rgba(198, 198, 198, 0.15);
}

.experience-text__info {
    margin-bottom: 20px;
}

.experience-text__name h4,
.experience-text__name p {
    margin: 4px 0px;
}

/* title */
.title {
    position: relative;
}
.title-info {
    width: 55%;
    padding-bottom: 20px;
}

.title-info h3 {
    margin-bottom: 4px;
}

.title-info p {
    margin-top: 12px;
    margin-bottom: 32px;
}

/* news */
.news .container {
    padding-bottom: 40px;
}

.news-list {
    display: flex;
    justify-content: flex-end;
}

.news-item {
    margin-bottom: 24px;
    margin-left: 20px;
}

.news-item__img {
    width: 100%;
    position: relative;
}

.news-item__text {
    position: absolute;
    margin-top: -48px ;
    margin-left: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px #333;
}
.news-item__img:hover {
    opacity: 0.8;
}
/* partner */
.partner {
    margin: 0 auto;
}

.partner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.partner-container img{
    max-height: 40px;
}

/* footer */
.footer {
    max-width: 100%;
    overflow: hidden;
}
.footer-container {
    background-image: linear-gradient(to right, #9679f7,#4741df, #7a8adf);
    padding: 40px 0;
}
.footer-containe__info {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.footer-icon {
    padding: 32px 0;
    text-align: center;
}

.footer-icon__img {
    width: 250px;
}

.footer-list {
    font-size: 1.5rem;
    padding-top: 40px;
}

.footer-item {
    margin: 8px;
    color: #fff;
}

.footer-info {
    display: inline;
    text-align: center;
}

.footer-info__list {
    display: inline-block;
}

.footer-info__item {
    color: #fff;
    display: flex;
    margin-bottom: 16px;
}

.footer-info__icon {
    margin: 0 24px;
    font-size: 1.2rem;
}

.footer-info__item p{
    margin: 0;
    font-size: 1.2rem;
}

/* button */
.button-color {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #f04e35;
    color: white;
    border-radius: 100rem;
}

.button-color:hover,
.intro-button:hover {
    background-color: #c73923;
}

.intro-button {
    background-color: #f04e35;
    color: white;
    border-radius: 8px;
    padding: 8px 48px;
    font-size: 1.2rem;
    font-weight: 500; 
    display: flex;
    align-items: center;
    margin-left: -8px;
    line-height: 1.5;
}

/* background */
.background {
    max-width: 100%;
    z-index: -10;
    /* display: none; */
}

.background-one {
    position: absolute;
    transform: rotate(65deg);
    top: 200px;
    left: -250px;
} 

.background-one__img {
    transform: scale(0.45);
}

.background-two {
    position: absolute;
    transform: rotate(65deg);
    bottom: 400px;
    left: -188px;
} 

.background-two__img {
    transform: scale(0.7);
}

.background-three {
    position: absolute;
    transform: rotate(25deg);
    top: 1550px;
    right: -332px;
} 

.background-three__img {
    transform: scale(0.6);
}

.footer {
    overflow: hidden;
}
.background-four {
    position: absolute;
    transform: rotate(125deg);
    bottom: 1550px;
    right: -380px;
} 

.background-four__img {
    transform: scale(1);
}

.background-five {
    position: absolute;
    transform: rotate(130deg);
    bottom: 1520px;
    right: -360px;
} 

.background-five__img {
    transform: scale(1);
}

.background-six {
    position: absolute;
    transform: rotate(136deg);
    top: 717px;
    left: -391px;
    height: 750px;
    width: 613px;
    background: linear-gradient(to left, rgba(163, 118, 253, 0.35), rgba(83, 0, 250, 0.35));
    border-radius: 60px;
} 

.background-seven {
    position: absolute;
    transform: rotate(40deg);
    top: 820px;
    left: -360px;
} 

.background-seven__img {
    transform: scale(1);
}

.background-eight {
    position: absolute;
    transform: rotate(35deg);
    top: -100px;
    right: -180px;
} 

.background-eight__img {
    transform: scale(1);
}

.background-nine {
    position: absolute;
    transform: rotate(40deg);
    top: -60px;
    right: -160px;
} 

.background-nine__img {
    transform: scale(1);
}
.background-ten {
    position: absolute;
    transform: rotate(65deg);
    bottom: -250px;
    right: -100px;
} 

.background-ten__img {
    transform: scale(0.7);
}

